/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*The below styling will apply to all elements unless over-written*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #eeecec;
  font-family: "Nunito", sans-serif;
}

/* The body has position relative that the footer will remain in place when it has position absolute */

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  /* found overflow-x:hidden in the second answer here: https://stackoverflow.com/questions/23367345/100vw-causing-horizontal-overflow-but-only-if-more-than-one */
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit
}

ul {
  list-style-type: none;
}

/* clamp property keeps the font size at 3vw but won't allow it to be larger than 16px or smaller than 10px */

nav {
  padding: 10px;
  background-color: #f7f7f7;
  color: #293d6a;
  font-size: clamp(10px, 3vw, 16px);
  border-bottom: 1px solid #293d6a;
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: #f7f7f7;
}

nav li {
  background-color: #f7f7f7;
  margin-right: 5vw;
}

nav a,
nav a:visited {
  background-color: #f7f7f7;
  color: #293d6a;
}

h3,
h5,
h6,
header, .home-text-container header {
  background-color: #ffff;
}

/* The hr has a gradient so it fades at either side of the center  */

/* styling of hrs based on https://css-tricks.com/examples/hrs/ */

hr {
  /* styling of hrs based on https://css-tricks.com/examples/hrs/ */
  border: 0;
  height: 2px;
  width: 75%;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(41, 61, 106, 0.1)),
    color-stop(rgba(41, 61, 106, 0.75)),
    to(rgb(41, 61, 106, 0.1))
  );
  background-image: -o-linear-gradient(
    left,
    rgba(41, 61, 106, 0.1),
    rgba(41, 61, 106, 0.75),
    rgb(41, 61, 106, 0.1)
  );
  background-image: linear-gradient(
    to right,
    rgba(41, 61, 106, 0.1),
    rgba(41, 61, 106, 0.75),
    rgb(41, 61, 106, 0.1)
  );
  margin: 20px 0px;
}

#tickets-remaining {
  margin-bottom: 0;
}

/* The below code originates from https://codepen.io/chancesq/pen/qBOyQoW 
    It is substantially amended to make responsive and work on my site.
    The ::before and ::after create additional borders that are not visible to the eye and overlap all but the corners of the border around the nav link.
    On hover, these additional borders disappear and an animation gives the impression that the border has grown from the corners of the nav link to enclose the nav link.
    It takes 1 second for this to happen.
    The dimensions had to be adjusted to fit the word length of each nav link at each screen size
*/

.nav-btn {
  background-color: #f7f7f7;
  padding: clamp(0.5px, 0.75vw, 3.5px);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  border-radius: 2px;
}

.nav-btn::before,
.nav-btn::after {
  position: absolute;
  background-color: #f7f7f7;
  z-index: -1;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  content: "";
}

.nav-noselect {
  background-color: #f7f7f7;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-btn:hover::before,
#nav-home:hover::before,
#nav-create-event:hover::before {
  width: 0px;
  background: #f7f7f7;
}

.nav-btn:hover::after,
#nav-home:hover::after,
#nav-create-event:hover::after {
  height: 0px;
  background: #f7f7f7;
}

.nav-btn:hover {
  background: #f7f7f7;
}

/* Ends copied code */

#nav-home {
  border: 1px solid #293d6a;
}

#nav-home::before {
  height: clamp(1px, 8.5vw, 35px);
  width: clamp(1px, 6.7vw, 35px);
}

#nav-home::after {
  width: clamp(40px, 13vw, 70px);
  height: clamp(1px, 3vw, 13px);
}

#nav-create-event {
  border: 1px solid #293d6a;
}

#nav-create-event::before {
  width: clamp(52px, 16vw, 85px);
  height: clamp(20px, 6.5vw, 30px);
}

#nav-create-event::after {
  width: clamp(67px, 20vw, 105px);
  height: clamp(1px, 3vw, 13px);
}

#nav-create-event:hover::before {
  width: 0px;
}

#nav-current-page {
  cursor: default;
  border: 1px solid #293d6a;
}

#nav-current-page::before {
  height: 0;
  width: 0;
}

#nav-current-page::after {
  height: 0;
  width: 0;
}

footer {
  /* code in first 4 attributes from https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/*/
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 2.5rem;
  /* end copied code */
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  border-top: 1px solid #293d6a;
}

footer a {
  background-color: #f7f7f7;
  color: inherit;
}

footer i {
  background-color: #f7f7f7;
}

/* On hover the social media icons increase in size and change from this website's color scheme to the color scheme of the relevant social media site. It takes half a second for this to happen */

footer i {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

footer i:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

footer ul {
  width: 100%;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.footer-content-wrapper {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.fa-instagram:hover {
  /* code from https://www.mazzitorch.com/instagram-logo-css-gradient-html-web-design/ */
  background: -o-radial-gradient(
    30% 107%,
    circle,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.-fa-facebook-f:hover {
  /* color from https://encycolorpedia.com/3b5998 */
  color: #3b5998;
}

.fa-twitter:hover {
  /* color from https://encycolorpedia.com/00acee */
  color: #00acee;
}

.fa-linkedin-in:hover {
  /* color from https://encycolorpedia.com/0e76a8 */
  color: #0e76a8;
}

/* On load, all of the event page (except the header and footer) and the form on the create event form will fade in from zero opacity to opacity of 1 over a period of 1 second */

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Home Page (Events Page) */

.home-event-summary-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ffff;
  width: 95vw;
  max-width: 285px;
  border-radius: 5px;
  color: #293d6a;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  border: 1px solid #8f897c;

  /* box shadow from https://codepen.io/sdthornton/pen/wBZdXq */
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.home-details-container {
  background-color: #ffff;
  margin: 7px;
}

.home-text-container p i {
  color: #293d6a94;
}

.home-event-summary-container img {
  margin-top: 2%;
  margin-bottom: 0%;
  max-width: 100%;
  height: 150px;
  background-color: #ffff;
  border-radius: 5px;
}

.home-event-summary-container a {
    background-color: #ffff;
}

.home-event-summary-container p {
  background-color: #ffff;
  font-size: 60%;
  margin-top: 0px;
  margin-bottom: 7px;
  color: #8f897c;
}

.home-event-summary-container header {
  font-size: 130%;
  margin: 11px 0px;
}

.home-event-summary-container i {
  background-color: #ffff;
  color: #8f897c;
}

.home-event-summary-container:hover {
  border: 1px solid #293d6a;
  /* Box shadow code taken from https://codepen.io/sdthornton/pen/wBZdXq */
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.home-text-container {
  background-color: #ffff;
}

/* The below code is copied from https://stackoverflow.com/questions/6805482/css3-transition-animation-on-load 

    On load the elements will alternate, sliding in from the right or the left of the screen. It will take 1 second for this to complete.
    The animnation will be slower at the beginning and faster towards the end
*/

@-webkit-keyframes home-slide-in-from-left {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes home-slide-in-from-left {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.home-slide-from-left {
  -webkit-animation: 1s ease-in 0s 1 home-slide-in-from-left;
  animation: 1s ease-in 0s 1 home-slide-in-from-left;
}

/* End copied code */

/* Below is similar code to the stackoverflow answer but I amended the code to make the slide happen from the opposite side. I than gave the elements a class name based on where I wanted them to slide from */

@-webkit-keyframes home-slide-in-from-right {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes home-slide-in-from-right {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.home-slide-from-right {
  -webkit-animation: 1s ease-in 0s 1 home-slide-in-from-right;
  animation: 1s ease-in 0s 1 home-slide-in-from-right;
}

/* End of "similar code" */

/* This media query makes the event take advantage of the horizontal space on larger screens by increasing its width to a maximum of 800px  */

@media only screen and (min-width: 700px) {
  .home-event-summary-container {
    display: block;
    max-width: 800px;
    margin-top: 30px;
  }

  .home-details-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 2px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .home-event-summary-container img {
    margin: 0%;
    max-width: 33%;
    height: 150px;
  }

  .home-event-summary-container header {
    margin-top: 7%;
    margin-bottom: 18px;
    font-size: 210%;
  }
  .home-event-summary-container p {
    font-size: 70%;
    margin-bottom: 9px;
  }

  .home-text-container {
    margin-left: 10%;
  }

  .tickets-remaining {
    margin-bottom: 0;
  }
}

/* Event Page */

.event-page,
.create-event-form {
  -webkit-animation: fade-in 3s;
  animation: fade-in 3s;
}

/* Both event-box and event-description-and-tickets-wrapper are flex boxes with flex wrap activated. On larger screens both contained within the flexbox will display beside eachother horizontally but on smaller screens they will display beneath each other */

.event-box {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.event-box img {
  max-height: 50vh;
  max-width: 95vw;
  border-radius: 5px;
  border: 3px solid #ffff;
  margin-top: clamp(1px, 10%, 85px);
  border-width: clamp(1px, 1vw, 5px);
}

.event-center {
  margin: auto;
  background-color: #ffff;
  display: inline-block;
  border: 1px solid #8f897c;
  border-radius: 5px;
  padding: 5%;
  /* padding: 1.5% 2.5% 0.5% 2.5%; */
}

.event-details {
  /* padding: 1.5% 2.5% 0.5% 2.5%; */
  /* border: 1px solid #8f897c; */
  /* background-color: #ffff; */
  /* border-radius: 5px; */
  background-color: #ececec;
  margin: 3% 2.5% 0% 2.5%;
  margin-top: clamp(1px, 10%, 85px);
  width: 100%;
  display: flex;
}

.event-details p,
.event-details i,
.event-details a,
.event-details header {
  background-color: #ffff;
  font-size: clamp(10px, 2vw, 14px);
  color: #8f897c;
  margin-bottom: clamp(5px, 1vw, 8px);
}

.tickets-remaining {
  margin-bottom: 0;
}

.event-details header,
.event-description header {
  color: #293d6a;
  font-size: clamp(24px, 4vw, 35px);
  text-align: center;
  margin-bottom: 3px;
}

.event-details i {
  color: #293d6a94;
}

.event-details a:hover {
  text-decoration: underline;
}

.event-description-and-tickets-wrapper {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.event-description {
  font-family: "Bitter", serif;
  background-color: #fff;
  color: #000;
  width: min(40ch, 95vw);
  word-wrap: break-word;
  padding: 5%;
  border-radius: 5px;
  border: 1px solid #8f897c;
  margin: 3% 2.5% 0% 2.5%;
  margin-top: clamp(1px, 10%, 85px);
  align-self: flex-start;
}

.event-description p {
  margin-bottom: 1em;
  line-height: 1.5em;
  background-color: #fff;
  color: #000;
  font-size: 14px;
}

.event-tickets,
.event-tickets form {
  border: 1px solid #8f897c;
  background-color: #fff;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 3% 5% 5% 5%;
  margin-top: clamp(1px, 10%, 85px);
  margin-bottom: clamp(1px, 10%, 85px);
  padding: 1%;
  padding-top: clamp(7px, 1%, 200px);
  padding-bottom: clamp(7px, 1%, 200px);
  border-radius: 5px;
  max-width: 95vw;
}

.event-tickets form {
  border: none;
  margin: 0;
  padding: 0;
}

.event-tickets header {
  color: #293d6a;
  font-size: clamp(24px, 4vw, 35px);
  text-align: center;
  margin-top: 5%;
  margin-bottom: 3px;
}

.event-tickets hr {
  margin: 0px auto 40px;
}

.event-details hr,
.event-description hr {
  margin: 0px auto 10px;
  margin-bottom: clamp(10px, 2.5vw, 30px);
}

.event-description hr {
  margin-bottom: clamp(10px, 4.5vw, 40px);
}

/* On hover the button increases in size and its box shadow changes from grey to orange */

.event-tickets button,
.create-event-form button {
  background-color: #293d6a;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 150%;
  cursor: pointer;
  width: 100%;
  border-color: transparent;
  margin-top: 13%;
  margin-bottom: 13%;
  padding: 5px 0;

  /* Box shadow code taken from https://codepen.io/sdthornton/pen/wBZdXq */
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

  /* transition from https://css-tricks.com/snippets/css/scale-on-hover-with-webkit-transition/ */

  -webkit-transition: all 0.2s ease-in-out;

  -o-transition: all 0.2s ease-in-out;

  transition: all 0.2s ease-in-out;
}

.create-event-form button {
  margin-top: 5%;
  width: 85%;
}

/* transition from https://css-tricks.com/snippets/css/scale-on-hover-with-webkit-transition/ */

.event-tickets button:hover,
.create-event-form button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);

  -webkit-box-shadow: 0 19px 38px rgba(249, 171, 85, 0.3),
    0 15px 12px rgba(249, 171, 85, 0.22);

  box-shadow: 0 19px 38px rgba(249, 171, 85, 0.3),
    0 15px 12px rgba(249, 171, 85, 0.22);
  border: 1px solid #f9ab55;
}

.event-date-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
}

/* Code originates from https://codepen.io/verpixelt/pen/cEJLa but amended substantially to make responsive and to work on my site */

.event-card-wrap {
  color: #fff;
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  background-color: #fff;
  margin-bottom: 13%;
  padding-left: clamp(0px, 3%, 30px);
  padding-right: clamp(0px, 3%, 30px);
}

.event-card {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#e84c3d),
    color-stop(26%, #e84c3d),
    color-stop(26%, #ecedef),
    to(#ecedef)
  );
  background: -o-linear-gradient(
    top,
    #e84c3d 0%,
    #e84c3d 26%,
    #ecedef 26%,
    #ecedef 100%
  );
  background: linear-gradient(
    to bottom,
    #e84c3d 0%,
    #e84c3d 26%,
    #ecedef 26%,
    #ecedef 100%
  );
  height: 11em;
  float: left;
  position: relative;
  padding: 1em;
  width: clamp(300px, 45vw, 350px);
}

.event-card-left {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.event-card-right {
  width: 33%;
  border-left: 0.18em dashed #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.event-card-right:before,
.event-card-right:after {
  content: "";
  position: absolute;
  display: block;
  width: 0.9em;
  height: 0.9em;
  background: #fff;
  border-radius: 50%;
  left: -0.5em;
}

.event-card-right:before {
  top: -0.4em;
}
.event-card-right:after {
  bottom: -0.4em;
}

.event-ticket-title {
  font-size: clamp(3px, 5.4vw, 25px);
  margin-top: 0;
  background-color: #e84c3d;
}
.event-ticket-title span {
  font-weight: normal;
  background-color: #e84c3d;
}

.event-title,
.event-price,
.event-refunds {
  text-transform: uppercase;
  font-weight: normal;
}
.event-title h2,
.event-price h2,
.event-refunds h2 {
  font-size: 0.9em;
  color: #525252;
  margin: 0;
  text-transform: none;
}
.event-title span,
.event-price span,
.event-refunds span,
.event-number span {
  font-size: 0.7em;
  color: #a2aeae;
}

.event-title {
  margin: 0.9em 0 0 0;
}

.event-name,
.event-price {
  margin: 0.7em 0 0 0;
}

.event-refunds {
  margin: 0.7em 0 0 1em;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.event-price,
.event-refunds {
  float: left;
}

.event-price {
  position: absolute;
  bottom: 5px;
}

.event-eye {
  position: relative;
  width: 2em;
  height: 1.5em;
  background: #fff;
  margin: 0 auto;
  border-radius: 1em/0.6em;
  z-index: 1;
}
.event-eye:before,
.event-eye:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
}
.event-eye:before {
  width: 1em;
  height: 1em;
  background: #e84c3d;
  z-index: 2;
  left: 8px;
  top: 4px;
}
.event-eye:after {
  width: 0.5em;
  height: 0.5em;
  background: #fff;
  z-index: 3;
  left: 12px;
  top: 8px;
}

.event-number {
  text-align: center;
  text-transform: uppercase;
}
.event-number input {
  background-color: #fff;
  color: #e84c3d;
  margin: 0 0 0 0;
  font-size: 2.5em;
  width: 60px;
  text-align: center;
  border-radius: 5px;
}
.event-number span {
  display: block;
  color: #a2aeae;
  margin-top: 2.5em;
}

/* End of copied (but amended) code */

/* Below Code originates from https://designmodo.com/create-credit-card-ui/#download-the-credit-card-html. Substantially amended for my site. */

.event-tickets h4,
.event-card-number,
.event-form-body,
.event-month,
.event-year,
.event-cvv-input,
.event-cvv-input input,
.event-month select,
.event-year select {
  background-color: white;
}

.event-credit-card {
  width: 360px;
  max-width: 95%;
  margin: 0 auto 0;
  border-radius: 6px;
  background-color: #fff;
}

.event-card-number,
.event-cvv-input input,
.event-month select,
.event-year select {
  font-size: 14px;
  font-weight: 100;
  line-height: 30px;
}

.event-card-number,
.event-month select,
.event-year select {
  font-size: 14px;
  font-weight: 100;
}

.event-card-number,
.event-cvv-input input,
.event-month select,
.event-year select {
  color: #8e8e8e;
}

.event-card-number {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 20px;
  border: 2px solid #e1e8ee;
  border-radius: 6px;
}

.event-month select,
.event-year select {
  width: clamp(86px, 29vw, 130px);
  margin-bottom: 20px;
  padding-left: 20px;
  border: 2px solid #e1e8ee;
  border-radius: 6px;
  background: url(caret.png) no-repeat;
  background-position: 85% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.event-cvv-input input {
  float: left;
  width: 145px;
  padding-left: 20px;
  border: 2px solid #e1e8ee;
  border-radius: 6px;
  background: #fff;
}

/* End of copied code */

.event-card input:focus {
  /* From https://stackoverflow.com/questions/1457849/how-to-remove-the-border-highlight-on-an-input-text-element */
  outline: none;
}

/* On larger screens the elements in the two flexboxes display beside eachother horizontally. This media query ensures that the elements displayed on the right hand side of the screen are the same size to ensure visual alignment (and likewise on the left hand side)  */

@media only screen and (min-width: 1160px) {
  .event-box img {
    width: 600px;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }

  .event-center {
    padding: 8%;
  }

  .event-details {
    width: 500px;
    /* margin-top: 0; */
    margin-left: 1.5%;
    margin-right: 1.5%;
  }

  .event-description {
    width: 600px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: clamp(1px, 10%, 85px);
    padding: 2% 4% 2% 4%;
  }

  .event-description p {
    font-size: 16px;
  }

  .event-tickets {
    width: 500px;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
}

/* This media query keeps the width of the description at 70 characters of 95% of the size of the screen on non-mobile screens. Once the screen is 1160px the above media query ensures it is kept at a similar width  */

@media only screen and (min-width: 768px) and (max-width: 1159px) {
  .event-description {
    width: min(70ch, 95vw);
  }

  .event-description p {
    font-size: 16px;
  }

  .event-card-right {
    width: 25%;
  }
}

/* Create Event Page */

.create-form-wrapper {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.create-event-form,
.create-event-form form {
  margin: 60px 0px;
  width: clamp(250px, 90vw, 500px);
  background-color: #ffff;
  border: 1px solid #8f897c;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.create-event-form form {
  border-top: none;
  border-bottom: none;
  border-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.create-event-form input,
.create-event-form textarea,
.create-radio,
.create-upload-image,
.create-image-label {
  background-color: #ffff;
  outline: none;
  font-size: 14px;
  font-weight: 100;
  line-height: 30px;
  padding: 0px 20px;
  border: 2px solid #e1e8ee;
  background: #fff;
  width: 85%;
  border-radius: 6px;
  margin: 12px;
  color: #8e8e8e;
}

#create-event-description {
  height: 150px;
}

.create-radio {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
}

.create-radio input {
  margin: 0;
  width: auto;
}

.create-allow-refunds,
.create-no-refunds {
  display: inline-block;
  background-color: #ffff;
}

.create-allow-refunds {
  padding-left: 2vw;
}

.create-no-refunds {
  padding-right: 2vw;
}

.create-radio label {
  background-color: #ffff;
  color: #8e8e8e;
}

.create-event-form h4 {
  color: #293d6a;
  font-weight: normal;
  font-size: clamp(12px, 1.2vw, 14px);
  background-color: #ffff;
  margin: 12px 7.5% 0px;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

input[type="datetime-local"] {
  color: #8e8e8e;
}

input[type="file"] {
  margin-top: 0;
}

.create-image-label {
  color: #8e8e8e;
  margin-top: 1.3%;
  margin-bottom: 0;
  line-height: normal;
  border: none;
}

.create-image-label,
input[type="file"] {
  padding-left: 0;
  margin: 0;
  border: none;
}

.create-upload-image:hover .create-image-label,
.create-upload-image:hover input {
  /* Learnt from here: https://stackoverflow.com/questions/7217244/style-child-element-when-hover-on-parent */
  color: #293d6a;
}

/* styling of radio buttons based on code from https://stackoverflow.com/questions/45327086/how-change-the-color-of-the-radio-button */

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 13px;
  height: 13px;
  padding: 3px;
  background-clip: content-box;
  border: 1px solid #bbbbbb;
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-color: #293d6a;
  border-color: #293d6a;
}

#create-event-hr {
  margin: 0px 0px 20px;
}

.create-allow-refunds:hover label,
.create-no-refunds:hover label {
  color: #293d6a;
}

.create-event-form header {
  color: #293d6a;
  font-size: clamp(24px, 4vw, 40px);
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: #ffff;
}

.event-credit-card input:focus,
.event-credit-card select:focus,
.event-credit-card input:hover,
.event-credit-card select:hover,
.create-event-form input:focus,
.create-event-form textarea:focus,
.create-event-form input:hover,
.create-event-form textarea:hover,
.create-upload-image:hover,
.create-upload-image:focus {
  color: #293d6a;
  outline: none;
  -webkit-box-shadow: 0 0 5px #f9ab55;
  box-shadow: 0 0 5px #f9ab55;
  border: 1px solid #f9ab55;
}

input[type="radio"]:checked,
input[type="radio"]:focus {
  border: 1px solid #293d6a;
}

.create-upload-image:hover input {
  /* Learnt from here: https://stackoverflow.com/questions/7217244/style-child-element-when-hover-on-parent */
  outline: none;
  -webkit-box-shadow: 0 0px #ffff;
  box-shadow: 0 0px #ffff;
  border: none;
}

:hover::-webkit-input-placeholder {
  /* code based on https://stackoverflow.com/questions/54308139/how-to-show-placeholder-when-we-hover-on-input-type-text */
  color: #293d6a;
}
